<h1>users</h1>

<% if (!users) { %>
<p> there are no users yet </p>
<% } else { %>

<table>
  <thead>
  <tr>
    <th>jméno</th>
  </tr>
  </thead>
  <% for(var i = 0; i < users.length; ++i) { %>
  <tr>
    <td><%=users[i].facebook_name %></td>
  </tr>
  <% } %>
</table>

<% } %>


